<div class="jumbotron text-center">
    <h1 class="display-3">Toronto</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae libero atque at pariatur dolores molestias illo
                ducimus. Eius culpa quae nulla magni ad. Corporis officia
                repellat quas, sunt provident quisquam!</p>
    <a href="#" class="btn btn-dark btn-lg">See Resources</a>
</div>