<div class="jumbotron text-center">
    <h1 class="display-3">Toronto</h1>
    <p class="lead">Find out what's happening in the city!</p>
    <a href="/resources" class="btn btn-dark btn-lg">See Resources</a>
</div>